@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Martel Sans', sans-serif;
}

body{
  background-color: rgb(0 0 0);
}
.main{
  background-image:url("assets/img/background_img.jpg");
  background-position: center center;
  background-size:max(1200px, 100vw);
  background-repeat: no-repeat;
  height:120vh; 
  position: relative; 
  
}

.main .box{ 
  top:0px;
  height: 120vh;
  width: 100vw;
  opacity: 0.80;
  background-color:rgb(0 0 0);
  position: absolute;
}

.optionwe{
  padding:3px 20px;
  font-weight: bolder ;
  border: solid  rgba(62,63,56,0.9);
  border-radius: solid ;
  left:176px;
  background-color: black;
  color:rgb(246, 237, 237);


}
nav{
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 73px;
}

nav img{
  color:rgb(243, 0, 0);
  width:147px;
  position: relative;
  z-index:11;
  right:205px;
  top:13px;
}

nav button{
  position: relative;
  z-index:11;
}

.hero{
  font-family: 'Martel Sans';
  color:azure;
  height:calc(79% - 74px);
  font-size:22px;
  position: relative;
  z-index: 23;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 0px 30px;
}

.hero >:first-child{
  font-weight: 800px;
  font-size:50px;
  text-align: center;
  margin: 39px;
}

.hreo >:nth-child(2){
  font-weight:350;
  font-size:15px;
  flex-direction:column;
  text-align: center;
}
.hero >:nth-child(3){
  gap:2px;
  font-weight:40px;
  font-size:19px;
  text-align: center;
  gap:12px; 
}

.separation{
  height:10px;
  background-color: rgb(35 35 35);
  position: relative;
  bottom:-134px;
}

.btn{
  padding:3px 20px;
  font-weight: bolder ;
  background-color:  rgba(26,27,24,0.2) ;
  color:white;
  border: solid 1.1px rgba(62,63,56,0.9);
  border-radius: 7px;
  left:176px;


}

.btn-red{
font-size:22px;
 background-color:rgb(229 9 20);
 color:white;
 padding: 4px 22px;
 border-radius: 1px;
 font-weight: 0.0625rem;

}

.ne{
  width: 150px;
  height: 41px;
  font-size: medium;
}

.btn-red-sm{
  background-color:rgb(229 9 20);
  color:white;
  width: 96px;
  height: 37px;
  border-radius: 7px;
  left:190px;
  cursor: pointer;
  

}
.main input{
  border: solid 2px;
  background-color: rgba(26,27,24,0.2) ;
  color: rgba(69 64 58 );
    border-radius: 4px ;
  border-color: rgba(245, 248, 239, 0.2); 
  font-size: 15px;
  padding:11px 55px;
  text-emphasis-color:inherit;
  color: whitesmoke;
}

.hero_button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}


.first{
  display: flex;
  justify-self: center;
  max-width:85vw;
  margin: auto;
  color:aliceblue;
  justify-content: center;
  align-items:center; 
  position: relative;
  bottom: -165px;

    
}


.sd{
  position: relative;
  top:-110px;

}

.secImg{
  position: relative;
  top:0px;
}

.secImg img{
  width: 40vw;
  position: relative;
  left:233px;
  z-index: 10;
}

.secImg video{
  position: relative  ;
  width: 356px;
  height: 230px;
  top:-315px;
  left:298px;

}

.separation1{
  height:10px;
  background-color: rgb(35 35 35);
  position: relative;
  top:-60px;
}

.first> div :first-child{
  font-size: 38px;
  
}

.first >div :nth-child(2){
  font-size:15px;

}

.se{
  position: relative;
  left:-245px;
  top:-175px;
}

.cad{
  position: relative;
  top:-168px;
}

.sdsf img{
top:-184px;
left:645px;

}

.sdsf video{
top:-316px;  
left:239px;
width:315px;
}

.third{
  margin: 40px;
  gap:2px;
}

.fontwe style{
  gap: 3px;
  left: 12px;
}


.fontwe div:first-child{
  position: relative;
  top:20px;
  font-size: 45px;
  color:whitesmoke;

}

.fontwe div:nth-child(2){
  color:whitesmoke;
  font-size: 24px;
}

.fontwe div:nth-child(3){
  color:whitesmoke;
  font-size: 24px;
}

.top{
  position: relative;
  top:173px;
  left:43px;
}

.imsstyle{
  left:-27px;
}

.text12{
  position: relative;
  top:-229px;
}

.text12 div:first-child(){
  font-size: 40px;
}

.imdstyle{
  position: relative;
  top:238px;
  
}
.feq div{
  color:whitesmoke;
  position: relative;
  top:33px;
  text-align:center;  
  font-size:51px;
}
.we{
  color:whitesmoke;
  position: relative;
  bottom:-300px;

}
.we div:hover{
  background-color: rgba(252, 244, 244,0.1);
}

.we div{
  justify-content: space-between;
  margin: 30px;
  padding: 23px;
  display: flex;
  height:20px;
  background-color:#2d2d2d;
  position: relative;
  top:-269px;
  display: flex;
  cursor: pointer;
}
.quw{
  color:whitesmoke;
  position: relative;
  left:39px;
  bottom: -166px;
}
.sdsd{
  color:whitesmoke;
  font-size:21px;
  text-align: center;
  position: relative;
  top:50px;
}
.fg{
  width: 332px;
    height: 49px;
    background-color:#0f0f0f ;
    border-color:rgba(228, 221, 221,0.2)solid 2px;
    border-radius: 4px;
  }
.wef{
  position: relative;
  top:-226px;
}

.ne:optional{
  margin:11px -1px ;
  background-color: #0f0f0f;

}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:whitesmoke;
  max-width: 118vw;
  margin: auto;
  position: relative;
  bottom:-166px;
}

.footer-item{
  display: flex;
  flex-direction: column;
  margin:36px;
  gap:2px;
}

.footer-item a{
  font-size:16px;
  color:whitesmoke;
}

.gt{
  position: relative;
  bottom: -312px;
}

.separation3{
  background-color:  rgb(35 35 35);
  height:10px;
  position:relative;
  top:-128px;
  margin-left: -89px;
}

.separation4{
  background-color: rgb(35,35,35);
  height:10px;
  width:135%;
  position:relative;
  top:851px;
  margin-left:-312px;
  margin-right: 12px;
}

.separation5{
  background-color: rgb(35,35, 35);
  height:10px;
  position:relative;
  top:39px;
  width:110%;   
  left:-41px;
}